<head>
  <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

  {% include meta.html %}

  <link rel="shortcut icon" href="{{ site.baseurl }}/favicon.ico">

  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/atom.xml" />
  <link rel="canonical" href="https://pincongbackup.github.io/" />

  <link rel="stylesheet" href="{{ site.baseurl }}/static/lib/bootstrap.3.3.7.min.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/static/lib/font-awesome.4.3.0.min.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/static/lib/jquery-ui.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/static/lib/mentions.css">

  <link rel="stylesheet/less" type="text/less" href="{{ site.baseurl }}/static/pc.style.less?x=282">
  <script src="{{ site.baseurl }}/static/lib/less-1.6.1.min.js" type="text/javascript"></script>


</head>