<head>
  <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }}</title>

  {% include meta.html %}

  <link rel="shortcut icon" href="{{ baseURL }}/favicon.ico">

  <link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ baseURL }}/atom.xml" />
  <link rel="canonical" href="https://pincongbackup.github.io/" />

  <link rel="stylesheet" href="{{ baseURL }}/static/lib/bootstrap.3.3.7.min.css">
  <link rel="stylesheet" href="{{ baseURL }}/static/lib/font-awesome.4.3.0.min.css">

  <link rel="stylesheet" href="{{ baseURL }}/lib/pc.style.css">

</head>