<div class="nav_bg">
    <div class="nav_bar">

        <div class="row">
            <div class="col-md-12" id="navbar">

                <a href="{{ baseURL }}/" class="col-lg-3 visible-lg" id="logo" style="background-image: url({{ baseURL }}/static/pc.logo.png); height: 100%; top: -1px; margin-right: 1em;"></a>

                <div class="col-xs-3 hidden-lg text-center" style="width: 110px;">
                    <a href="{{ baseURL }}/">
                        <img style="width:90px; height: 40px; max-width: unset;" src="{{ baseURL }}/static/pc.logo.png">
                    </a>
                </div>

                {% for nav in site.navigation %}
                    <div class="col-sm-1 col-xs-1 mid nav-item" style="top: -2px; width: 52px;">
                        {% if nav.url contains 'http://' or nav.url contains 'https://' %}
                            <a href="{{ nav.url }}" style="position: relative; top: -5px;">
                                {{ nav.name }}
                            </a>
                        {% else %}
                            <a href="{{ baseURL }}{{ nav.url }}" style="position: relative; top: -5px;">
                                {{ nav.name }}
                            </a>
                        {% endif %}
                    </div>
                {% endfor %}

            </div>
        </div>

    </div>
</div>