

<div class="col-xs-12 col-md-3 sidebar">

    <div class="subs_wrap" style="margin:40px 0px 10px 0;color: #888;height: 70px;font-size: 13px;">
        <div style="margin-bottom: 15px;">
            <span class="badge" style="position: relative;background: #881622;border-radius: 3px;padding: 1px 2px;left: 1px;top: -2px;">
                热
            </span>

            邮箱订阅，定期获取最新的翻墙软件

            <div style="margin-top: 5px;">

                <input class="textinput textInput form-control" id="sub_email" placeholder="E-mail" type="email" style="width: 75%;float: left; height: 30px;" disabled />
                
                <span class="subs_submit btn btn-cancel pull-right disabled" style="height: 30px;padding: 4px 9px;">
                    提交
                </span>
            </div>
        </div>
    </div>

    {% comment %} 相关问题只在页面的layout为post时显示 {% endcomment %}
    {% if page.layout == "post" %}
        <div class="user-detail-action-title btn-action">
            相关问题 &raquo;
        </div>

        <div class="more-like-this">

            {% comment %} TODO: 需要完善 {% endcomment %}
            {% assign moreLikeItems = site.p | sample: 8 %}
            
            {% for post in moreLikeItems %}
                <div class="more-like-item">
                    <a href="{{ site.baseurl }}{{post.url}}">
                        {{post.title}}
                    </a>
                </div>
            {% endfor %}

        </div>
    {% endif %}

    <div class="user-detail-right-action">

        <div class="user-detail-action-title btn-gray">
            <a style="color: #999;" href="{{ site.baseurl }}/tags.html">热门话题 &raquo;</a>
        </div>

        <div class="user-detail-action-cnt">

        </div>

    </div>

    <div class="right-foot btn-gray">
        <a class="btn-gray" target="_blank" href="{{ site.baseurl }}/protocol/">
            品葱行为倡议
        </a>
        &#9643; © 2018-2019 品葱备份计划 
        &#9643; 
        <a target="_blank" class="btn-gray" href="https://github.com/PincongBackup/PincongBackup.github.io/issues">
            反馈/改进
        </a>
        &#9643; 
        <a class="btn-gray" target="_blank" href="{{ site.baseurl }}/atom.xml">
            RSS
        </a>
        &#9643; 
        <a class="btn-gray" target="_blank" href="https://github.com/PincongBackup/PincongBackup.github.io/#readme">
            免翻墙访问本站
        </a>
        &#9643; 
        <a class="btn-gray" target="_blank" href="https://github.com/PincongBackup/PincongBackup.github.io/issues">
            新人提问
        </a>
        &#9643; 
        <a class="btn-gray" target="_blank" href="https://github.com/PincongBackup/PincongBackup.github.io/issues">
            管理公示区
        </a>
    </div>

</div>

<script>
    window.baseUrl = "{{ site.baseurl }}"
</script>

<script src="{{ site.baseurl }}/lib/sidebar.min.js"></script>
