
<div style="height: 30px;margin-top: 15px;">
    <div
        id="translateLink"
        class="btn-gray"
        style="float: right; font-size: 11px; cursor: pointer; margin-right: 15px;"
        onclick="TongWen.transAuto()"
    >
        简繁转换
    </div>
</div>

<script src="{{ baseURL }}/static/lib/tongwentang/tongwen_core.js"></script>
<script src="{{ baseURL }}/static/lib/tongwentang/tongwen_table_s2t.min.js"></script>
<script src="{{ baseURL }}/static/lib/tongwentang/tongwen_table_t2s.min.js"></script>
<script src="{{ baseURL }}/static/lib/tongwentang/tongwen_table_ps2t.min.js"></script>
<script src="{{ baseURL }}/static/lib/tongwentang/tongwen_table_pt2s.min.js"></script>
