---
layout: default
---

{% include get_baseurl.html %}

<style type="text/css">
    blockquote p {
        font-style: normal !important;
        color: #333;
        font-size: 13px;
        font-weight: 500;
        font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Noto Sans CJK SC, WenQuanYi Micro Hei, Arial, sans-serif !important;
    }
</style>

{% include translate_link.html %}

<div class="row">
    <div class="col-xs-12 col-md-9">
        <div id="post-details">
            <span>
                <div class="article-entry">

                    <div class="post-title title" style="font-size: 25px !important; padding: 5px;margin-top: 20px;">
                        <span itemprop="name">{{ page.title }}</span>
                    </div>

                    <div style="margin-bottom: 45px;">
                        {{ content }}
                    </div>

                </div>
            </span>
        </div>
    </div>

    {% include sidebar.html %}

</div>
